:root {
  --color-base: rgb(33, 30, 37);
  --color-highlight: rgb(230, 176, 0);
  --color-light: rgb(221, 221, 221);
  --color-grey: rgb(48, 45, 54);
  --color-dark: rgb(12, 10, 15);
  --header-height: 100px;
}

* {
  color: var(--color-light);
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

html {
  height: -webkit-fill-available;
  font-size: 1vw;
}
  
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 850px;
  margin: 0 auto;
  background-color: var(--color-dark);
  height: -webkit-fill-available;
}

button {
  width: 100%;
  height: 100%;
  border-style: none;
}

button:hover {
  background-color: var(--color-highlight);
  color: var(--color-dark);
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 1.5vw;
  box-shadow: 0 0 10px 0 black;
  background-color: var(--color-base);
  transition: margin 0.2s;
}

li:hover {
  margin: 1vw;
}

li > a {
  width: 50%;
}

img {
  box-sizing: border-box;
  padding: .5vw;
  width: 100%;
}

header {
  background-color: var(--color-base);
  box-sizing: border-box;
  width: 100%;
  min-width: 850px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  position: fixed;
  box-shadow: 0 0 10px -1px var(--color-dark);
}

.header-padding {
  padding-top: var(--header-height);
}

nav {
  display: flex;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

a {
  text-decoration: none;
}
  
.border-vert {
  margin: auto;
  height: 80%;
  width: 5px;
  background-color: var(--color-base);
}

.border-horizontal {
  margin: auto;
  width: 60%;
  height: 3px;
  background-color: var(--color-light);
}
  
.contacts {
  padding: 16px;
}
  
.contacts-name {
  color: var(--color-highlight);
  font-size: 45px;
}
  
.contacts-info {
  color: var(--color-highlight);
  font-size: 14.8px;
}
  
.contacts-info > a {
  color: var(--color-highlight);
}
  
.contacts-info > a:hover {
  color: var(--color-light);
}

.page-title {
  color: var(--color-highlight);
  margin: auto 0;
  font-size: 30px;
  font-weight: 700;
}

.nav-btn > button {
  background-color: var(--color-highlight);
  color: var(--color-dark);
  font-size: 20px;
  font-weight: 1000;
  padding: 0 20px;
}

.nav-btn > button:hover {
  background-color: var(--color-light);
  color: var(--color-grey);
}

.dropdown-content {
  display: none;
  height: 80%;
  z-index: 1;
}

.dropdown-content > a > button {
  background-color: var(--color-highlight);
  color: var(--color-dark);
  font-size: 1.2vw;
  font-weight: 700;
}

.dropdown-content > a > button:hover {
  background-color: var(--color-light);
  color: var(--color-grey);
}
  
.dropdown:hover .dropdown-content {
  display: block;
}

.fill {
  margin: 1.5vw 15vw;
}

.align-left {
  text-align: left;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0;
  margin: 1vw;
}

.image-container > img {
  width: 50%;
  height: auto;
  padding: .5vw;
}

.image-container > p {
  box-sizing: border-box;
  padding: .5vw;
  width: 50%;
  font-size: 2vw;
  margin: auto;
  text-align: left;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2vw;
  width: 50%;
}

.description {
  width: 100%;
}

.description > h1 {
  margin-bottom: 2vmin;
  padding: auto;
  font-size: 3rem;
}

.description > p {
  margin-top: 4%;
  color: var(--color-light);
  height: 50%;
  padding: auto;
  font-weight: 1;
  font-size: 2rem;
}

.clickme-btn {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  font-size: 1rem;
}

.clickme-btn > button {
  font-weight: 700;
  background-color: var(--color-highlight);
  color: var(--color-dark);
}

.clickme-btn > button:hover {
  background-color: var(--color-light);
  color: var(--color-grey);
}

.download {
  padding: 1vw 0 0 0;
  width: 20%;
  margin: auto;
}

.pdf {
  margin: auto;
  padding: 0;
  width: 90%;
}
