* {
    color: rgb(221, 221, 221);
    font-family: 'Raleway', sans-serif;
  }
  
  body {
    margin: 0;
    background-color: rgb(27, 25, 30)
  }
  
  .header-padding {
    padding-top: 90px;
  }
  
  #border-vert {
    margin: auto 0;
    height: 80%;
    width: 2px;
    background-color: rgb(33, 33, 33);
  }
  
  nav {
    background-color: rgb(12, 10, 15);
    width: 100%;
    min-width: 650px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0 0 10px -1px rgb(12, 10, 15);
  }
  
  .contacts {
    height: 100%;
    padding: 8px 0 0 20px;
  }
  
  .contacts-name {
    margin: 0;
    font-size: 42px;
  }
  
  .contacts-email {
    margin-top: 5px;
    color: grey;
    font-size: 15px;
  }
  
  .contacts-email > a {
    text-decoration: none;
    color: inherit;
  }
  
  .link-buttons {
    display: flex;
    list-style: none;
    margin: 0;
  }
  
  .resumebtn {
    display: flex;
    font-size: 20px;
    font-weight: 1000;
  }
  
  .resumebtn > a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 20px;
    text-decoration: none;
  }
  
  .resumebtn > a:hover {
    color: rgb(12, 10, 15);
    background-color: rgb(206, 180, 95);
  }
  
  .portfoliobtn {
    font-size: 20px;
    font-weight: 1000;
    border: none;
    margin: 0;
    padding: 0 20px;
    height: 90px;
    background-color: rgb(12, 10, 15);
  }
  
  .portfoliobtn:hover {
    color: rgb(12, 10, 15);
    background-color: rgb(206, 180, 95);
  }
  
  .portfolio-content {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .portfolio-content > a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-decoration: none;
    background-color: rgb(12, 10, 15);
  }
  
  .portfolio-content > a:hover {
    color: rgb(12, 10, 15);
    background-color: rgb(206, 180, 95);
  }
  
  .dropdown:hover .portfolio-content {
    display: block;
  }
  
  .video-container {
    display: block;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }
  
  .video {
    display: inline-block;
    
    padding: 20px;
    width: 50%;
  }
  
  .description {
    display: inline-block;
    padding: 20px;
  }