:root {
  --color-base: rgb(33, 30, 37);
  --color-highlight: rgb(230, 176, 0);
  --color-light: rgb(221, 221, 221);
  --color-grey: rgb(48, 45, 54);
  --color-dark: rgb(12, 10, 15);
  --header-height: 5vw;
}

* {
  color: var(--color-light);
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
  
body {
  margin: 0;
  background-color: var(--color-dark);
}

button {
  width: 100%;
  height: 100%;
  border-style: none;
}

button:hover {
  background-color: var(--color-highlight);
  color: var(--color-dark);
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 1.5vw auto;
  width: 95vw;
  padding: 0.5vw;
  box-shadow: 0 0 10px 0 black;
  background-color: var(--color-base);
  transition: width 0.5s, margin 0.5s;
}

li:hover {
  width: 96vw;
  margin: 1vw auto;
}

li > a {
  width: 45%;
}

img {
  width: 100%;
  height: 100%;
}

header {
  background-color: var(--color-base);
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  position: fixed;
  box-shadow: 0 0 10px -1px var(--color-dark);
}

.header-padding {
  padding-top: var(--header-height);
}

nav {
  display: flex;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

a {
  text-decoration: none;
}
  
.border-vert {
  margin: auto;
  height: 80%;
  width: 5px;
  background-color: var(--color-base);
}

.border-horizontal {
  margin: auto;
  width: 60%;
  height: 3px;
  background-color: var(--color-light);
}

.color-1 {
  margin: auto;
  background-color: var(--color-base);
}
  
.contacts {
  margin: auto 0;
  padding-left: 20px;
}
  
.contacts-name {
  color: var(--color-highlight);
  margin: auto;
  font-size: 2.5vw;
}
  
.contacts-info {
  color: var(--color-highlight);
  margin: auto;
  font-size: 0.9vw;
}
  
.contacts-info > a {
  color: var(--color-highlight);
}
  
.contacts-info > a:hover {
  color: var(--color-light);
}

.page-title {
  color: var(--color-highlight);
  margin: auto 0;
  padding-left: 60px;
  font-size: 1.7vw;
  font-weight: 700;
}

.nav-btn > button {
  background-color: var(--color-highlight);
  color: var(--color-dark);
  font-size: 1.4vw;
  font-weight: 1000;
  padding: 0 20px;
}

.nav-btn > button:hover {
  background-color: var(--color-light);
  color: var(--color-grey);
}

.dropdown-content {
  display: none;
  height: 80%;
  z-index: 1;
}

.dropdown-content > a > button {
  background-color: var(--color-highlight);
  color: var(--color-dark);
  font-size: 1.2vw;
  font-weight: 700;
}

.dropdown-content > a > button:hover {
  background-color: var(--color-light);
  color: var(--color-grey);
}
  
.dropdown:hover .dropdown-content {
  display: block;
}

.fill {
  margin: 1.5vw 15vw;
}

.align-left {
  text-align: left;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
  margin: 2vw
}

.image-container > img {
  width: 47vw;
}

.image-container > p {
  width: 46vw;
  font-size: 2vw;
  margin: auto;
  text-align: left;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.description {
  width: 100%;
}

.description > h1 {
  height: 30%;
  margin-top: 5%;
  margin-bottom: 1%;
  padding: auto;
  font-size: 300%;
}

.description > p {
  margin-top: 4%;
  color: var(--color-light);
  height: 50%;
  padding: auto;
  font-size: 150%;
}

.clickme-btn {
  width: 20%;
  height: 10%;
  margin: 0 auto 5% auto;
  
}

.clickme-btn > button {
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--color-highlight);
  color: var(--color-dark);
}

.clickme-btn > button:hover {
  background-color: var(--color-light);
  color: var(--color-grey);
}

.download {
  padding: 1vw 0 0 0;
  width: 20%;
  margin: auto;
}

.pdf {
  margin: auto;
  padding: 0;
  width: 90%;
}
